.sidebar {
    width: 100%;
    height: 100%;
    border-right: #494949 2px solid;
    grid-row: 2;
    display: flex;
    flex-wrap: wrap;
}

.edit {
    font-size: 40px;
    text-align: center;
    width: 100%;
    height: 100px;
    line-height: 100px;
}

.edit:hover {
    cursor: pointer;
    background-color: #d931fa;
    color: white;
}

.active {
    background-color: #f6f6f6;
}