.view {
    /*background: radial-gradient(white, #d931fa);*/
    background-color: #f6f6f6;
    color: #494949;
    border-radius: .9em;
    box-shadow: 0em .3em .3em rgba(0,0,0,.15);
    font-family: 'Roboto';
    border: 5px solid transparent;
    transition: .15s;
    -webkit-transition: .15s;
}

.view:hover {
   /*background: radial-gradient(white, #d931fa) no-repeat center;
    background-size: 2200%;
    background-position: center;*/
    /*background: linear-gradient(white, white) padding-box,
    linear-gradient(138deg, #d931fa, #c831f5 78%) border-box;*/
    background: linear-gradient(138deg, #d931fa, #c831f5 78%);
    box-shadow: 0em .3em .3em rgba(0,0,0,.35);
    transition: .15s;
    -webkit-transition: .15s;
    color: white;
}

.view:active {
    color: #d931fa;
    background: linear-gradient(white, white) padding-box,
    linear-gradient(138deg, #d931fa, #c831f5 78%) border-box;
    transition: .15s;
    -webkit-transition: .15s;
}

.view-title h2 {
    font-size: 1.3em;
    margin-left: 5px;
}

.start-x1 {
    grid-column-start: 1;
}

.start-x2 {
    grid-column-start: 2;
}

.start-x3 {
    grid-column-start: 3;
}

.end-x2 {
    grid-column-end: 2;
}

.end-x3 {
    grid-column-end: 3;
}

.end-x4 {
    grid-column-end: 4;
}

/*y*/

.start-y1 {
    grid-row-start: 1;
}

.start-y2 {
    grid-row-start: 2;
}

.start-y3 {
    grid-row-start: 3;
}

.end-y2 {
    grid-row-end: 2;
}

.end-y3 {
    grid-row-end: 3;
}

.end-y4 {
    grid-row-end: 4;
}